---
import Layout from '../layouts/Layout.astro';

const { pokemonName } = Astro.params;

const POKEMON_API = "https://pokeapi.co/api/v2/"
const POKEMON_IMAGE_URL = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/"

if (pokemonName === undefined) {
    Astro.response.status = 404;
    Astro.response.statusText = 'Not found';
    return
}
const response = await fetch(POKEMON_API + "pokemon/" + pokemonName.toLowerCase())
const data = await response.json()
const imageUrl = `${POKEMON_IMAGE_URL}${data.id}.png`
---
<Layout title="Welcome to Astro.">
    <h1>{pokemonName}</h1>

    {data.height}
    {data.weight}

    <img src={imageUrl} />

    {data.stats.map((stat: any) => (
        <div>
            {stat.stat.name}: {stat.base_stat}
        </div>
    ))}
</Layout>